body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.p-1{
  padding: 10px;
}

.pl-2{
  padding-left: 20px;
}

.pt-1{
  padding-top: 10px!important;
}
.pt-2{
  padding-top: 20px!important;
}

.px-2{
  padding-left: 20px;
  padding-right: 20px;
}

.py-1{
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-2{
  padding-top: 20px!important;
  padding-bottom: 20px!important;
}

.half-width{
  width: 50%!important;
}

.small-padding{
  padding:5px!important;
}

.small-margin{
  margin:5px!important;
}

.my-1{
  margin-top: 10px!important;
  margin-bottom: 10px!important;
}

.my-5{
  margin-top: 50px!important;
  margin-bottom: 50px!important;
}

.ml-1{
  margin-left: 10px!important;
}

.mt-2{
  margin-top: 20px!important;
}



.right{
  float: right!important;
}
.left{
  float: left!important;
  width: 45%!important;
}

.next-line{
  display: block!important;
}

.gray-axis {
   fill: none;
   stroke: #bbb;
   stroke-opacity: .75;
   shape-rendering: crispEdges;
 }

.submit-data{
  margin-left: 50px;
}

.text-darkOrange{
  color: darkOrange!important;
  background-color: white!important;
}

.text-steelblue{
  color: steelblue!important;
  background-color: white!important;
}

.text-primary{
  color: #004c40!important;
  background-color: white!important;
}

text < .tip {
  line-height: 1;
  padding: 6px;
  background: rgba(0, 0, 0, 0.8)!important;
  color: #fff!important;
  border-radius: 4px!important;
  font-size: 12px;
  font-family: Lato;
}

/* Creates a small triangle extender for the tooltip */
.tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips specifically */
.tip.n:after {
  margin: -2px 0 0 0;
  top: 100%;
  left: 0;
}


.MuiInputLabel-shrink-237{
  width:200px!important;
}

.MuiFormLabel-focused-106{
  color:#48a999!important;
}

.MuiStepContent-root-127{
  padding-left: 50px!important;
}
.MuiStepper-root-96{
  padding-right:2px!important;
  padding-left:50px!important;
}
/* .MuiInput-underline-104:after {

    border-bottom: #48a999!important;
} */

* {box-sizing: border-box;}
.wrapper {
  margin: 0 auto;
}

.wrapper > div {
  /* border: 2px solid rgb(233,171,88); */
  border-radius: 5px;
  /* background-color: #39796b; */
/*   padding: 1em; */
  color: #d9480f;
}.wrapper {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-gap: 0px;
  grid-auto-rows: minmax(30px, auto);
}
.header {
  grid-column: 1/12;
  grid-row: 1;
}
.body {
  grid-column: 2 / 11;
  grid-row: 2 / 25;
  background-color: #39796b;
}
.side-nav {
  grid-column: 1;
  grid-row: 1 / 5;
}
.loading-screen {
  height:200px;
  grid-column: 1/12;
  grid-row: 1 / 5;
  text-align: center;
}
.loading-back{
  grid-column: 1/12;
  grid-row: 5;
  text-align: center;
}
.loading-back-button {
  margin:auto;
  width:200px;
  height:40px;
  color:white;
}
.loading {
  background-color: rgba(232,245,233, 1);
  padding-bottom: 250px;
}
.table {
  position: relative;
  grid-column: 2 / 11;
  grid-row: 2;
  background-color: rgba(232,245,233, .35); }


.header-wrapper {
  margin: 0 auto;
}

.header-wrapper > div {
  border: 2px solid rgb(233,171,88);
  border-radius: 5px;
  background-color: rgba(233,171,200,.5);
/*   padding: 1em; */
  color: #d9480f;
}.header-wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 0px;
  grid-auto-rows: minmax(5px, auto);
}
.brand {
  grid-column: 1;
  grid-row: 2/5;
  height: 40px;
}

.logout {
  grid-column: 12;
  grid-row: 1;
/*   margin: auto; */
}

.nav-center {
  grid-column: 3/11;
  grid-row: 5;
/*   margin: auto */
}


.flex {
  flex: 1;
}
.menuButton {
  margin-left: -12;
  margin-right: 20;
}

.header-logo{
  margin-right: 10px;
}

.root {
  display: inline-block;
}

.row {
  display: inline-flex!important;
  margin: auto;
  overflow: auto;
}

.width-80{
  margin:auto!important;
  width:75%;
  clear: both;
  height: 75px;
}


.media {
  height: 0;
  padding-top: '56.25%';
}

.textField {
  width: 92%;
  margin: 2%!important;
}
.textField-medium{
  width: 60%;
  margin: 2%!important;
}
.textField-short{
  width: 40%;
  margin: 2%!important;
}
.textField-short-helper{
  width: 40%;
  margin: 0px 2% 2% 2%!important;
  /* padding-top: -30px!important; */
}
.textField-tiny{
  width: 28%;
  margin: 2%!important;
}
input:focus {
      background-color: rgba(232,245,233, .35)
    }

.MuiFormLabel-root-105:focus{
  width: 100%;

}

.textField:hover {
  border-radius: 5px;
  background-color: rgba(232,245,233, .35)
}

.ReactTable{
  height: 400px!important;
}

/* .shrink{
  position: absolute!important;
  top:0;
  margin-left: -250px!important;
-webkit-transform:scale(0.5);
-moz-transform:scale(0.5);
-ms-transform:scale(0.5);
transform:scale(0.5);
} */

/* .calc-section{
  display: inline-block;
  width: 350px;
  margin: 10px;
} */



.text-white {
  color: white!important
}

.text-center{
  text-align: center;
}

.center{
  margin-left: auto!important;
  margin-right: auto!important;
}

.card-header{
  background-color: #00251a;
  color: white;
}

.plan-header{
  background-color: #004c40;
  color: white!important;
}

.card-banner{
  width: 100%;
}

.card {
  margin-bottom: 50px;
  max-width: 100%;
  background-color: rgba(232,245,233, 1)!important;
}

.card-description{
  text-align: center;
  margin: 0 20px !important;
}

.start-now{
  margin: 0 auto 10px auto!important;
  width:50%!important;
}

.helper {
  position: absolute;
  padding-left: 5px!important;
  padding-right: 5px!important;
  /* padding-top: -5px!important;
  padding-bottom: -5px!important; */
  right: 0px;
  bottom:-18px;
}

.snackbar-description{
  padding-left: 15px;
}

.snackbar-text{
  text-align: center;
  color: white!important;
  padding-top: 25px;
  padding-bottom: calc(100vh * 0.05);
}

.MuiSnackbarContent-message-285{
  margin: auto;
}

.snackbar{
  color: #fff;
  display: flex;
  padding: 6px 24px;
  flex-wrap: wrap;
  align-items: center;
  pointer-events: initial;
  background-color: #004c40!important;
  /* border: 1px solid #48a999; */
  /* border-bottom: none; */
}

/* secondary: { main: '#004c40' */

@media only screen and  (max-width:480px) {
  .MuiStepContent-root-127{
    padding-left: 15px!important;
  }
  .MuiStepper-root-96{
    padding-right:5px!important;
    padding-left:10px!important;
  }
  .textField {
    width: 90%;
    margin: 5%!important;
  }
  .textField-medium{
    width: 90%;
    margin: 5%!important;
  }
  .textField-short{
    width: 90%;
    margin: 5%!important;
  }
  .textField-short-helper{
    width: 90%;
    margin: 0px 5% 5% 5%!important;
    /* padding-top: -30px!important; */
  }
  .textField-tiny{
    width: 90%;
    margin: 5%!important;
  }
  .width-80{
    width:95%!important;
    clear: both;
  }
  .left{
    max-width: 200px!important;
  }
}

svg {
  width: 100%;
  height: 100%;
}
.graph-container{
  position: relative;
  height: 1600px!important;
  /* padding-right: 10px; */
} */
.graph {
  margin:0;
  position:absolute;
  top:0;
  right:0 }

.bar-chart{
  height:280px;
}

.gauge-graph{
  width:100%!important;

}

.gauge-graph-container{
  position: relative!important;
  width: 350px!important;
}

.test-svg{
  width: 100%!important
}

.gauge-svg{
  /* position: absolute!important; */
  /* left: 10px!important; */
  width: 350px!important;
  margin-left: calc(50% - 175px);
  justify-content: center!important;
}

#success-gauge2{
  margin:auto!important;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.area {
  fill: lightsteelblue;
}
